HOSTS="*;"
CORS_ALLOWED_ORIGINS="http://0.0.0.0:8020"

SERVER_NAME=REPLACEME.ldss.tla.adlnet.gov

CLAM_AV_HOST=clamav
CLAM_AV_PORT=3310

DB_NAME=db
DB_USER=test
DB_PASSWORD=onsyglnslkgu48yugn
DB_ROOT_PASSWORD=wpionlgbaibvkvhya83
DB_HOST=db-xss
DB_PORT=3306

NEO4J_USER=neo4j
NEO4J_PASSWORD=onauhglngiolhjjn
NEO4J_HOST=neo4j
NEO4J_PORT=7687
NEO4J_BOLT_URL="bolt://neo4j:password@neo4j:7687"

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_EMAIL=a@emailcom

SECRET_KEY_VAL="pass"
SP_PUBLIC_CERT=poingu73bbsgh2
SP_PRIVATE_KEY=0nsguj83bkgugs

INSTANCE_ID=UNASSIGNED
ENTITY_ID=1000
SENTENCE_TRANSFORMERS_HOME="/tmp/app/huggingface"
HF_HOME="/tmp/app/huggingface"
TRANSFORMERS_CACHE="/tmp/app/huggingface/transformers"
HF_DATASETS_CACHE="/tmp/app/huggingface/datasets"

TESTING="true"
CCV="false"

XIA_URLS=https://xia-jko.ldss.tla.adlnet.gov,https://xia-aetc.ldss.tla.adlnet.gov,https://xia-dau.ldss.tla.adlnet.gov
XIA_CATALOG_PATH=/api/catalog/
